.background {
    background-image: url("../img/matrix.gif");
}

.error {
    color: #07EC17;
    text-align: center;
    font-family: "Outfit";
    font-size: 35vh;
    margin: auto;
    padding-bottom: 2rem;
}

.lost {
    color: #07EC17;
    text-align: center;
    font-family: "Outfit";
    font-size: 5vh;
    margin: auto;
    padding-bottom: 5rem;
}

@media screen and (min-width: 761px) {
    .error {
        font-size: 37vh;
    }

    .lost {
        font-size: 7vh;
    }
}

@media screen and (min-width: 1024px) {
    .error {
        font-size: 40vh;
    }

    .lost {
        font-size: 7vh;
    }
}